h1, h2 {
    font-family: 'Oswald', sans;
}
body {
    font-family: 'Open Sans', sans;
    color: darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 950px;
    background-color: ivory;
}
img {
    float: inline-start;
    margin-right: 15px;
}