.display-1 {
    font-family: "Fredericka the Great";              /* Custom font to make chalkboard writing effect */
    font-weight: bold;                                
    color: #333; /* Set the text color */
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Style the cards */
.card {
    border: 2px solid #ccc;                         
    border-radius: 10px;                              
    padding: 5px;     
}                                

/* Style the card title */
.card-title {
    font-weight: bold;                                
}

/* Add this CSS to your stylesheet */
.card-price {
    position: absolute;
    top: 10px;                                        
    right: 10px;                                      
    background-color: rgba(255, 255, 255, 0.3);     /* Set the background color to semi transparent to not take away from the image */
    padding: 5px 10px;                                
    border: 1px solid #ccc;                         /* Add a border for better visibility */
    border-radius: 5px;                               
    font-weight: bold;
    font-size: 18px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    font-size: 18px;                                  
}

body {
    font-family: "Edu TAS Beginner";                  /* This font resembles handwriting to bring cafe nostalgia */
}

footer {
    text-align: center;
    padding: 50px;
}

/* Make the images in the carousel a uniform size */
.carousel-item img {
    padding-top: 20px;
    height: 900px;                                     /* Adjust the height as needed */
    width: auto;                                       /* Maintain the aspect ratio */
    margin: 0 auto;                                    /* Center the image horizontally */
}

.otherDesserts img {
    padding: 20px;
    height: 300px;
}