/* CSS for UGGs Sales Receipt */

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 16px;
}

body {
    background-color: antiquewhite;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td {
    border: 1px solid black;
    background-color: #FFF7E8;
    font-size: 18px;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    font-size: 24px;
    border: 5px double black;
    text-align: center;
    background-color: #D9BEA5;
}

tfoot {
    font-weight: bold;
}

