/*Typography*/
h1 {
    text-align: center;
    font-family: 'Optima', sans;
    font-size: xx-large;
}
h2 {
    text-align: center;
    font-family: 'Optima', sans;
    font-size: x-large;
}
p {
    text-align: right;
    font-family: 'Optima' sans;
    font-size: medium;
}

/*Form-Styling*/
header {
    padding: 10px;
}
body {
    font-family: 'Optima', sans;
    width: 800px;
    margin: 0 auto;
}
footer {
    padding: 10px;
}

/*Block-Styling*/
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
div {
    background-repeat: no-repeat;
    border: 5px solid palevioletred;
    color: black;
    display: flex;
    padding: 15px;
}
.slogan {
    display: flex;
    justify-content: space-around;
    background-image: url(images/phone_globe.jpg);
    background-position: center;
    padding: 25px;
    color: white;
}
.slider {
    display: flex;
}

/*General*/
.item img {
    height: 200px;
    width: 200px;
}
.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
html {
    background-color: #ffe9ec;
}